<%- include('./includes/head') %>

</head>

<body>

  <!-- ======= Header ======= -->
  <%- include('./includes/navigation') %>
  

  

    

    <section class="section dashboard">
      <h1 class="text-center">Welcome to Admin Dashboard</h1>
    </section>


    
  <%- include('./includes/foot') %>
  <%- include('./includes/footer') %>