<%- include('../includes/header') %>
  
</head>
<body>
      <%- include('../includes/navigation') %>
    <div class="military">

        <!-- START FIRST ROW -->
        <div class="row">
            <div class="col-lg-5 col-sm-12">               
              <div style="background-image: url('/img/h1.jpg');height:350px" class="for-all-image" alt="" ></div>
            </div>
            <div class="col-lg-7 col-sm-12 mt-3">
              <h2 style="line-height: 3.2rem; " class="name"><a href="#">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော ဒစ်ဂျစ်တယ် ငွေကြေးစနစ်သစ်</a></h2>
              <div class="mb-4">
                <small class="fw-bold new-name">သတင်းတို</small>
                <br>
                <small class="fw-bold new-name">28/06/2020</small>
              </div>
             
              <p class="mt-4">ဒီလို နားလည်ရ0က်0ဲပေမယ့် လူတ0ျို့ကသာ စိတ်Rင်စားတဲ့ အရာတစ်0တေု ာ့ မဟုတ်ပါဘူး။ Tesla လို
                လုပ်ငန်းမျိုး အပါအRင် တရားRင် လုပ်ငန်းကြီးတွေကအစ Bitcoin ကို တန်ဖိုးတက် အရန်စုငွေAsset
                Class တစ်0ုအနေနဲ့ ဒေါ်လာဘီလီယံပေါင်းများစွာ ထည့်သွင်း ရင်းနှီးမြှုပ်နှံနေကြသလို အများသူငါရဲ့
                စိတ်Rင်စားမှုကိုလည်း ရရှိနေတဲ့အရာ ဖြစ်နေပါပြီ။ အထူးသဖြင့် Covid-19 ကပ်ရောဂါကြောင့် အများသူငါ
               </p>
               <a href="/read" class="btn btn-danger btn-sm mt-2">read</a>
              </div>
          </div>
          <!-- END FIRST ROW -->

        <!-- START ROW -->
        <div class="row g-2 mt-5 ">
           
            <div class="col-md-3 col-sm-12">
                <a href="#">
                    <div style="background-image: url('/img/en-1.jpg');height:250px" class="for-all-image hide-in-mobile" alt="" ></div>
                </a>
                <a href="#">
                    <img src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                  </a>
                <div> 
                  <h6 class="mt-3"><a href="#" class="name">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော</a></h6>
                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <a href="#">
                    <div style="background-image: url('/img/en-1.jpg');height:250px" class="for-all-image hide-in-mobile" alt="" ></div>
                </a>
                <a href="#">
                    <img src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                  </a>
              <div>
                <h6 class="mt-3"><a href="#" class="name">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော</a></h6> 
              </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <a href="#">
                    <div style="background-image: url('/img/en-1.jpg');height:250px" class="for-all-image hide-in-mobile" alt="" ></div>
                </a>
                <a href="#">
                    <img src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                  </a>
              <div>
                <h6 class="mt-3"><a href="#" class="name">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော</a></h6>  
              </div>
            </div>  

            <div class="col-md-3 col-sm-12">
                <a href="#">
                    <div style="background-image: url('/img/en-1.jpg');height:250px" class="for-all-image hide-in-mobile" alt="" ></div>
                </a>
                <a href="#">
                    <img src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                  </a>
              <div>
                  <h6 class="mt-3"><a href="#">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော</a></h6>
              </div>
            </div>
        </div>
          <!-- END ROW -->

        <!-- START FOUR ROW -->
            <div class="row  mt-5 ">

                <div class="col-lg-3 mb-4">
                    <div class="row">
                    <div class="col-5">
                        <a href="#">
                            <div style="background-image: url('/img/en-1.jpg');height:100px" class="for-all-image hide-in-mobile" alt="" ></div>
                        </a>
                        <a href="#">
                            <img src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                          </a>
                    </div>
                    <div class="col-7">
                        <small class="title"><a href="#">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော ဒစ်ဂျစ်တယ် ငွေကြေးစနစ်သစ်</a></small>
                        <p>
                        <small class="fw-bold new-name"><i class="bi bi-eye"></i> 12</small>
                        <small class="float-end fw-bold new-name">28/06/2020</small>
                        </p>
                    </div> 
                    
                    <hr class="mt-3"> 

                    <div class="col-5">
                        <a href="#">
                            <div style="background-image: url('/img/en-1.jpg');height:100px" class="for-all-image hide-in-mobile" alt="" ></div>
                        </a>
                        <a href="#">
                            <img src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                          </a>
                    </div>
                    <div class="col-7">
                        <small class="title"><a href="#">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော ဒစ်ဂျစ်တယ် ငွေကြေးစနစ်သစ်</a></small>
                        <p>
                        <small class="fw-bold new-name"><i class="bi bi-eye"></i> 12</small>
                        <small class="float-end fw-bold new-name">28/06/2020</small>
                        </p>
                    </div> 

                    <hr class="mt-3"> 


                    <div class="col-5">
                        <a href="#">
                            <div style="background-image: url('/img/en-1.jpg');height:100px" class="for-all-image hide-in-mobile" alt="" ></div>
                        </a>
                        <a href="#">
                            <img src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                          </a>
                    </div>
                    <div class="col-7">
                        <small class="title"><a href="#">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော ဒစ်ဂျစ်တယ် ငွေကြေးစနစ်သစ်</a></small>
                        <p>
                        <small class="fw-bold new-name"><i class="bi bi-eye"></i> 12</small>
                        <small class="float-end fw-bold new-name">28/06/2020</small>
                        </p>
                    </div> 

                    <hr class="mt-3"> 


                    <div class="col-5">
                        <a href="#">
                            <div style="background-image: url('/img/en-1.jpg');height:100px" class="for-all-image hide-in-mobile" alt="" ></div>
                        </a>
                        <a href="#">
                            <img src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                          </a>
                    </div>
                    <div class="col-7">
                        <small class="title"><a href="#">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော ဒစ်ဂျစ်တယ် ငွေကြေးစနစ်သစ်</a></small>
                        <p>
                        <small class="fw-bold new-name"><i class="bi bi-eye"></i> 12</small>
                        <small class="float-end fw-bold new-name">28/06/2020</small>
                        </p>
                    </div> 

                    <hr class="mt-3"> 


                    <div class="col-5">
                        <a href="#">
                            <div style="background-image: url('/img/en-1.jpg');height:100px" class="for-all-image hide-in-mobile" alt="" ></div>
                        </a>
                        <a href="#">
                            <img src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                          </a>
                    </div>
                    <div class="col-7">
                        <small class="title"><a href="#">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော ဒစ်ဂျစ်တယ် ငွေကြေးစနစ်သစ်</a></small>
                        <p>
                        <small class="fw-bold new-name"><i class="bi bi-eye"></i> 12</small>
                        <small class="float-end fw-bold new-name">28/06/2020</small>
                        </p>
                    </div> 

                    <hr class="mt-3"> 


                    <div class="col-5">
                        <a href="#">
                            <div style="background-image: url('/img/en-1.jpg');height:100px" class="for-all-image hide-in-mobile" alt="" ></div>
                        </a>
                        <a href="#">
                            <img src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                          </a>
                    </div>
                    <div class="col-7">
                        <small class="title"><a href="#">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော ဒစ်ဂျစ်တယ် ငွေကြေးစနစ်သစ်</a></small>
                        <p>
                        <small class="fw-bold new-name"><i class="bi bi-eye"></i> 12</small>
                        <small class="float-end fw-bold new-name">28/06/2020</small>
                        </p>
                    </div> 
                    </div>
                </div> 


                <div class="col-lg-6 ">
                    <div class="row ">
                        <div class="col-lg-7">
                            <div>
                                <a href="#">
                                    <div style="background-image: url('/img/en-1.jpg');height:250px" class="for-all-image hide-in-mobile" alt="" ></div>
                                </a>
                                <a href="#">
                                    <img src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                                  </a>
                            <div>
                                <small class="fw-bold new-name ">malitary</small>
                                <small class="float-end fw-bold new-name">28/06/2020</small>
                            </div>
                            <h6 style="line-height: 1.6rem;">
                                <a href="#" class=" mt-1">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော ဒစ်ဂျစ်တယ် ငွေကြေးစနစ်သစ်</a>
                            </h6>
                            <small>
                                ဒီလို နားလည်ရက်0ဲပေမယ့် လူတ0ျို့ကသာ စိတ်Rင်စားတဲ့ အရာတစ်0တေု ာ့ မဟုတ်ပါဘူး။ Tesla လို
                                လုပ်ငန်းမျိုး အပါအဝင် တရားRင် လုပ်ငန်းကြီးတွေကအစ Bitcoin ကို တန်ဖိုးတက် အရန်စုငွေ
                            </small>
                            </div>

                            <div class="mt-5 mb-5">
                                <a href="#">
                                    <div style="background-image: url('/img/en-1.jpg');height:250px" class="for-all-image hide-in-mobile" alt="" ></div>
                                </a>
                                <a href="#">
                                    <img  src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                                  </a>
                            <div>
                                <small class="fw-bold new-name ">malitary</small>
                                <small class="float-end fw-bold new-name">28/06/2020</small>
                            </div>
                            <h6 style="line-height: 1.6rem;">
                                <a href="#" class=" mt-1">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော ဒစ်ဂျစ်တယ် ငွေကြေးစနစ်သစ်</a>
                            </h6>
                            
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div>
                                <a href="#">
                                    <div style="background-image: url('/img/en-1.jpg');height:200px" class="for-all-image hide-in-mobile" alt="" ></div>
                                </a>
                                <a href="#">
                                    <img  src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                                  </a>
                            <div>
                                <small class="fw-bold new-name ">malitary</small>
                                <small class="float-end fw-bold new-name">28/06/2020</small>
                            </div>
                            <div>
                                <small style="line-height: 1.6rem;">
                                    <a href="#" class=" mt-1">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော ဒစ်ဂျစ်တယ် ငွေကြေးစနစ်သစ်</a>
                                </small>
                            </div>
                            <p style="font-size: 11px;line-height: 20px;" class="mt-3">
                                ဒီလို နားလည်ရက်0ဲပေမယ့် လူတ0ျို့ကသာ စိတ်Rင်စားတဲ့ အရာတစ်0တေု ာ့ မဟုတ်ပါဘူး။ Tesla လို
                                လုပ်ငန်းမျိုး အပါအဝင် တရားRင် လုပ်ငန်းကြီးတွေကအစ Bitcoin ကို တန်ဖိုးတက် အရန်စုငွေ
                            </p>
                            </div>


                            <div class="mt-5 mb-5">
                                <a href="#">
                                    <div style="background-image: url('/img/en-1.jpg');height:200px" class="for-all-image hide-in-mobile" alt="" ></div>
                                </a>
                                <a href="#">
                                    <img  src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                                  </a>
                            <div>
                                <small class="fw-bold new-name ">malitary</small>
                                <small class="float-end fw-bold new-name">28/06/2020</small>
                            </div>
                            <div>
                                <small style="line-height: 1.6rem;">
                                    <a href="#" class=" mt-1">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော ဒစ်ဂျစ်တယ် ငွေကြေးစနစ်သစ်</a>
                                </small>
                            </div>
                            <p style="font-size: 11px;line-height:20px;" class="mt-3">
                                ဒီလို နားလည်ရက်0ဲပေမယ့် လူတ0ျို့ကသာ စိတ်Rင်စားတဲ့ အရာတစ်0တေု ာ့ မဟုတ်ပါဘူး။ Tesla လို
                                လုပ်ငန်းမျိုး အပါအဝင် တရားRင် လုပ်ငန်းကြီးတွေကအစ Bitcoin ကို တန်ဖိုးတက် အရန်စုငွေ
                            </p>
                            </div>
                        </div>
                    </div>
                </div> 
          

                 <div class="col-lg-3">
                    <div class="row ">
                    <div class="col-5">
                        <a href="#">
                            <div style="background-image: url('/img/en-1.jpg');height:100px" class="for-all-image hide-in-mobile" alt="" ></div>
                        </a>
                        <a href="#">
                            <img  src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                          </a>
                    </div>
                    <div class="col-7">
                        <small class="title"><a href="#">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော ဒစ်ဂျစ်တယ် ငွေကြေးစနစ်သစ်</a></small>
                        <p>
                        <small class="fw-bold new-name"><i class="bi bi-eye"></i> 12</small>
                        <small class="float-end fw-bold new-name">28/06/2020</small>
                        </p>
                    </div> 
                    
                    <hr class="mt-3">

                    <div class="col-5">
                        <a href="#">
                            <div style="background-image: url('/img/en-1.jpg');height:100px" class="for-all-image hide-in-mobile" alt="" ></div>
                        </a>
                        <a href="#">
                            <img  src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                          </a>
                    </div>
                    <div class="col-7">
                        <small class="title"><a href="#">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော ဒစ်ဂျစ်တယ် ငွေကြေးစနစ်သစ်</a></small>
                        <p>
                        <small class="fw-bold new-name"><i class="bi bi-eye"></i> 12</small>
                        <small class="float-end fw-bold new-name">28/06/2020</small>
                        </p>
                    </div> 

                    <hr class="mt-3">

                    <div class="col-5">
                        <a href="#">
                            <div style="background-image: url('/img/en-1.jpg');height:100px" class="for-all-image hide-in-mobile" alt="" ></div>
                        </a>
                        <a href="#">
                            <img  src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                          </a>
                    </div>
                    <div class="col-7">
                        <small class="title"><a href="#">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော ဒစ်ဂျစ်တယ် ငွေကြေးစနစ်သစ်</a></small>
                        <p>
                        <small class="fw-bold new-name"><i class="bi bi-eye"></i> 12</small>
                        <small class="float-end fw-bold new-name">28/06/2020</small>
                        </p>
                    </div> 

                    <hr class="mt-3">

                    <div class="col-5">
                        <a href="#">
                            <div style="background-image: url('/img/en-1.jpg');height:100px" class="for-all-image hide-in-mobile" alt="" ></div>
                        </a>
                        <a href="#">
                            <img  src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                          </a>
                    </div>
                    <div class="col-7">
                        <small class="title"><a href="#">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော ဒစ်ဂျစ်တယ် ငွေကြေးစနစ်သစ်</a></small>
                        <p>
                        <small class="fw-bold new-name"><i class="bi bi-eye"></i> 12</small>
                        <small class="float-end fw-bold new-name">28/06/2020</small>
                        </p>
                    </div> 

                    <hr class="mt-3">

                    <div class="col-5">
                        <a href="#">
                            <div style="background-image: url('/img/en-1.jpg');height:100px" class="for-all-image hide-in-mobile" alt="" ></div>
                        </a>
                        <a href="#">
                            <img  src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                          </a>
                    </div>
                    <div class="col-7">
                        <small class="title"><a href="#">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော ဒစ်ဂျစ်တယ် ငွေကြေးစနစ်သစ်</a></small>
                        <p>
                        <small class="fw-bold new-name"><i class="bi bi-eye"></i> 12</small>
                        <small class="float-end fw-bold new-name">28/06/2020</small>
                        </p>
                    </div> 

                    <hr class="mt-3">

                    <div class="col-5">
                        <a href="#">
                            <div style="background-image: url('/img/en-1.jpg');height:100px" class="for-all-image hide-in-mobile" alt="" ></div>
                        </a>
                        <a href="#">
                            <img  src="/img/en-1.jpg" class="img-thumbnail my-thumbnail show-in-mobile" alt="">
                          </a>
                    </div>
                    <div class="col-7">
                        <small class="title"><a href="#">ကြားခံအဖွဲ့အစည်း မလိုဘဲ တိုက်ရိုက် ဖလှယ်နိုင်သော ဒစ်ဂျစ်တယ် ငွေကြေးစနစ်သစ်</a></small>
                        <p>
                        <small class="fw-bold new-name"><i class="bi bi-eye"></i> 12</small>
                        <small class="float-end fw-bold new-name">28/06/2020</small>
                        </p>
                    </div> 
                    </div>
                </div>

            </div>
          <!-- END FOUR ROW -->

          


    </div>
 
 <%- include('../includes/footer') %>
