<%- include('./includes/header') %>

</head>

<body>

    <main>
        <div class="container">
    
          <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <h1 style="color: #b5300b;font-size:150px;">!404</h1>
            <h2>This page is unknown or does not exist</h2>
            <a class="btn btn-danger mt-5" href="/">Back to home</a>
            <!-- <img src="/img/not-found.svg" class="img-fluid py-5" alt="Page Not Found"> -->
            <div class="credits mt-5">
              Designed by Ohnmar</a>
            </div>
          </section>
    
        </div>
      </main><!-- End #main -->
    
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



