<%- include('../includes/header') %>
  
</head>
<body>
      <%- include('../includes/navigation') %>
    <div class="video">
        <h3 class="fw-bold">Videos</h3>
       <!-- first row -->
        <div class="row mt-3 g-1">
            <div class="col-lg-3 col-sm-6 ">
                <a href="#">
                    <div style="background-image: url('/img/news-5.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
               
            </div>
            <div class="col-lg-3  col-sm-6 ">
                <a href="#">
                    <div style="background-image: url('/img/sp-3.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
               
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div style="background-image: url('/img/h2.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
                
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div style="background-image: url('/img/h1.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
               
            </div>
            
        </div>
        <!-- end first row -->

        <!-- second row -->
        <div class="row g-1">
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div style="background-image: url('/img/en-1.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div style="background-image: url('/img/food-2.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div style="background-image: url('/img/food-1.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div style="background-image: url('/img/news-6.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
            </div>
        </div>
        <!-- end second row -->

        <!-- third row -->
        <div class="row g-1">
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div style="background-image: url('/img/m-1.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div style="background-image: url('/img/m-4.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div style="background-image: url('/img/news-3.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 ">
                <a href="#">
                    <div style="background-image: url('/img/news-2.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
            </div>
        </div>
        <!-- end third row -->

        <!-- four row -->
        <div class="row g-1">
            <div class="col-lg-3 col-sm-6 ">
                <a href="#">
                    <div style="background-image: url('/img/m-2.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 ">
                <a href="#">
                    <div style="background-image: url('/img/sp-3.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div style="background-image: url('/img/v1.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div style="background-image: url('/img/en-2.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
            </div>
        </div>
        <!-- end four row -->

         <!-- five row -->
         <div class="row g-1">
            <div class="col-lg-3 col-sm-6 ">
                <a href="#">
                    <div style="background-image: url('/img/en-1.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div style="background-image: url('/img/food-2.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div style="background-image: url('/img/food-1.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div style="background-image: url('/img/news-6.jpg');height:230px" class="for-all-image" alt="" ></div>
                </a>
            </div>
        </div>
        <!-- end five row -->


    </div>
   

 <%- include('../includes/footer') %>
