</div><!-- End #main -->



<!-- footer -->
  <div class="foot text-center ">
    
    &copy; Copyright <strong><span>News Site</span></strong>. All Rights Reserved
    <div class="icon mt-3">
      <a href="#" style="color: #4154f1;"><i class="bi bi-facebook"></i></a>
      <a href="#" style="color: #0d83bf;"><i class="bi bi-telegram"></i></a>
      <a href="#" style="color: #d51431bc;"><i class="bi bi-instagram"></i></a>
      <a href="#" style="color: #2936ab;"><i class="bi bi-twitter"></i></a>

    </div>
  
  </div>
<!-- end footer -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/echarts/echarts.min.js"></script>
 



  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>